server {
    server_name localhost;
    port 8000;
    client_max_body_size 10m;

    location / {
        root /var/www/html;
        index index.html;
        listing on;
        allowed_methods GET POST;
    }

    location /cgi-bin/ {
        cgi /usr/lib/cgi-bin .py; #help
    }

    location /redir/ {
        redir http://example.com;
    }

    location /error/ {
        error_page 404 /404.html;
        error_page 403 /404.html;
        error_page 500 /404.html;
    }
}