server {
    server_name localhost;
    port 8000;
    client_max_body_size 10m;

    location / {
#       root /var/www/html;
#		root /home/dnebatz/Documents/realwebserv/webserv/www;
        root /home/sbalk/projects/owngithub/webserv/www;
        index index.html;
        listing on;
        allowed_methods GET POST;
		cgi .py /usr/bin/python3;
		error_page 404 /errors/404.html;
        error_page 500 /errors/500.html;
    }

    location /cgi-bin/ {
#        root /home/steve/programming/42/own_projects/webserv;
        root /home/sbalk/projects/owngithub/webserv;
        allowed_methods GET POST;
        cgi .py /usr/bin/python3; #help
    }

    location /redir/ {
        redir http://example.com;
    }

    location /error/ {
        error_page 404 /errors/404.html;
        error_page 500 /404.html;
    }
}
