server {
    server_name localhost;
    port 8080;
    host 127.0.0.1;
    client_max_body_size 10m;

    location / {
        root /var/www/html;
        index index.html;
        listing on;
        allowed_methods GET POST;
    }

    location /cgi-bin/ {
        cgi /usr/lib/cgi-bin; #help
    }

    location /redir/ {
        redir http://example.com;
    }
}