

server {
    port 8000;
    client_max_body_size 10000000000;
	upload_dir /uploads/;

    location / {
		root /home/dnebatz/Documents/realwebserv/webserv/www/;
        index index.html;
#        listing on;
        allowed_methods GET POST DELETE;
		cgi .py /usr/bin/python3;
		error_page 404 /errors/404.html;
        error_page 500 /errors/500.html;
		cgi .php /usr/bin/php-cgi;
		
    }

	    location /wordpress/ {
		root /home/dnebatz/Documents/realwebserv/webserv/;
		index index.php;
        allowed_methods GET POST;
		cgi .php /usr/bin/php-cgi;
    }

		location /phpMyAdmin/ {
		root /home/dnebatz/Documents/realwebserv/webserv/;
		index index.php;
        allowed_methods GET POST;
		cgi .php /usr/bin/php-cgi;
    }

		location /uploads/ {
		root /home/dnebatz/Documents/realwebserv/webserv/;
		listing on;
        allowed_methods GET POST;
		cgi .php /usr/bin/php-cgi;
    }

    location /cgi-bin/ {
#		listing on;
		index redirect.php;
		error_page 404 /cgi-bin/errors/404.html;
        error_page 500 /cgi-bin/errors/500.html;
        root /home/dnebatz/Documents/realwebserv/webserv/;
        allowed_methods GET POST;
		cgi .php /usr/bin/php-cgi;
        cgi .py /usr/bin/python3; #help
    }

    location /redir/ {
        redir http://example.com;
    }

    location /error/ {
        error_page 404 /errors/404.html;
        error_page 500 /404.html;
    }
}


server {
    server_name steve.com;
    port 8000;
    client_max_body_size 10000;

    location / {
		root /home/dnebatz/Documents/realwebserv/webserv/www/saufen;

        index index.html;
        listing on;
        allowed_methods GET POST;
		cgi .py /usr/bin/python3;
		error_page 404 /errors/404.html;
        error_page 500 /errors/500.html;
		cgi .php /usr/bin/php;
    }

    location /cgi-bin/ {
        root /home/dnebatz/Documents/realwebserv/webserv/;
        allowed_methods GET POST;
        cgi .py /usr/bin/python3; #help

    }

    location /redir/ {
        redir http://example.com;
    }

    location /error/ {
        error_page 404 /errors/404.html;
        error_page 500 /404.html;
    }
}