server {
    server_name localhost;
    port 8000;
    client_max_body_size 10m;

    location / {
		root /home/wrottger/Projects/webserv/www;
        index index.html;
        listing on;
        allowed_methods GET POST;
		error_page 404 /errors/404.html;
        error_page 500 /errors/500.html;
    }

    location /cgi-bin/ {
        cgi .pi /usr/lib/cgi-bin; #help
    }

    location /redir/ {
        redir http://example.com;
    }

    location /error/ {
        error_page 404 /errors/404.html;
        error_page 500 /404.html;
    }
}